body{

    font-family:Arial;
    
    margin:0;
    
    background:#f5f5f5;
    
    }
    
    .container{
    
    max-width:700px;
    
    margin:auto;
    
    padding:20px;
    
    background:white;
    
    }
    
    h2{
    
    text-align:center;
    
    margin-bottom:20px;
    
    }
    
    input,textarea{
    
    display:block;
    
    width:100%;
    
    box-sizing:border-box;
    
    padding:12px;
    
    margin-bottom:12px;
    
    font-size:16px;
    
    border:1px solid #ccc;
    
    border-radius:6px;
    
    }
    
    textarea{
    
    min-height:110px;
    
    resize:vertical;
    
    }
    
    /* NEW SECTION STYLE */
    
    .form-section{
    
    margin-top:25px;
    
    margin-bottom:10px;
    
    }
    
    .form-section h3{
    
    margin-bottom:8px;
    
    font-size:18px;
    
    font-weight:600;
    
    border-bottom:1px solid #ddd;
    
    padding-bottom:6px;
    
    }
    
    button{
    
    width:100%;
    
    padding:14px;
    
    background:black;
    
    color:white;
    
    border:none;
    
    border-radius:6px;
    
    font-size:16px;
    
    cursor:pointer;
    
    }
    
    button:hover{
    
    opacity:.85;
    
    }